$header-top-link-color: rgb(110, 110, 110);
$header-top-wrapper-background: rgb(238,238,238);
$header-top-link_active: red;
$header-mid-wrapper-background: rgb(198, 3, 4);
$header-mid-text-color: rgb(255, 255, 255)