//
// Header colors:
//
$main-grey-link-color: rgb(110, 110, 110);
$main-red-link-color: rgb(198, 3, 4);
$header-top-wrapper-background: rgb(238,238,238);
$header-mid-wrapper-background: rgb(198, 3, 4);
$header-mid-text-color: rgb(255, 255, 255);

//
//Main content colors:
//
$content-border: rgb(217,217,217);
$grey-text-color: rgb(110, 110, 110);
$grey-lighter-color: rgb(226,226,226);
$red-links-color: rgb(198, 3, 4);
//
//Aside colors:
//
$black-link-color: rgb(0,0,0);
$grey-link-color: rgb(110, 110, 110);
$grey-border-color: rgb(217, 217, 217);
//Arrow container colors:
$grey-arrow: rgb(110, 110, 110);